body {
    background-color: rgb(241, 241, 231);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 65px;
    font-style: italic;
    margin: 10px;
    font-family: 'Merriweather', sans-serif;
} 

h2 {
    font-size: 40px;
    font-style: bold;
    margin: 30px;
    font-family: 'Merriweather', sans-serif;
} 

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 25px;
    }
}